<!-- home.html -->

{% extends 'app.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

<title>Home | CIDENT - Africa's No 1 accident reporting website</title>
  </head>
  <body>
		<!---strat-wrap----->
		
			<!---strat-header----->
			<div class="header"  id="top">
				<div class="wrap">
					<!---start-logo---->
					<div class="logo">
						<!-- <a href="index.html"><img src="images/logo11.png" title="logo" /><h1>CIDENT</h1></a> -->
						<a href="index.html"><h1> <b style="font-size: 50px; color: #fff;">CI</b><b style="font-size: 50px; color: #FFCA02;">DENT</b></h1></a>
					</div>
					<!---End-logo---->
					<!---start-top-nav---->
					<div class="top-nav">
						<ul>
							<li class="active"><a href="index">Home</a></li>
							<li><a href="about">About</a></li>
							<li><a href="whatwe">What we do</a></li>
							<li><a href="services">Services</a></li>
							<li><a href="contact">Contact</a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="clear"> </div>
					<!---End-top-nav---->
				</div>
			</div>
			<!---End-header----->
			<!--start-image-slider---->
			<!---728x90--->

			
<!---728x90--->
			
		 <!--End-image-slider---->
		 <!---start-contnet---->
		 <div class="content">
		 	<div class="top-grids">
		 		<div class="wrap">
			 		<h3>AFRICA'S NO 1 ACCIDENT REPORTING WEBSITE</h3>
			 		<h2>CIDENT</h2>
			 		<h4>...report an accident now!!!</h4>
			 		<ul>
			 			<li><a class="what" href="report">Report</a></li>
			 			<li><a class="join" href="login">Join us</a></li>
			 			<div class="clear"> </div>
			 		</ul>
		 		</div>
		 	</div>
			<!---728x90--->

		 	<div class="mid-grids">
		 		<div class="wrap">
		 			<div class="mid-grid">
			 			<h3>PARAMEDICS</h3>
			 			<a href="paramedics"><img src="{% static 'images/paramedics11.png' %}" title="spares" /></a>
			 			<h4>Hospital, FRSC, NPF etc</h4>
			 			<p>Do you need urgent hospitalisation? contact any paramedics nearest to you through this channel</p>
			 			<a class="button" href="paramedics">More</a>
			 		</div>
			 		<div class="mid-grid">
			 			<h3>FIRE SERVICE</h3>
			 			<a href="fire-service"><img src="{% static 'images/fire-truck1.png' %}" title="sales" /></a>
			 			<h4>Emergency Responds Unit etc</h4>
			 			<p>Have they been a fire outbreak? contact the required agency through this channel</p>
			 			<a class="button" href="fire-service">More</a>
			 		</div>
			 		<div class="mid-grid">
			 			<h3>REPAIRS</h3>
			 			<a href="services"><img src="{% static 'images/repair.png' %}" title="repair" /></a>
			 			<h4>Mechanic, Towing Van etc</h4>
			 			<p>Do you need the services of a mechanic, a towing van etc contact them through this channel</p>
			 			<a class="button" href="services">More</a>
			 		</div>
			 		<div class="clear"> </div>
		 		</div>
		 	</div>
		 	<div class="bottom-grids">
		 		<div class="wrap">
		 		<div class="social-links">
		 			<ul>
		 				<li><a href="#">Facebook</a></li>
		 				<li><a href="#">Twitter</a></li>
		 				<li><a href="#">Instagram</a></li>
		 				<li><a href="#">Linkedin</a></li>
		 			</ul>
		 		</div>
		 		<div class="mobile-no">
		 			 <span>+234 803 0000 000</span>
		 		</div>
		 		<div class="footer-logo">
		 			<a href="#"><b style="color: #000;">CI</b><b>DENT</b></a>
		 		</div>
		 		<div class="copy-right">
		 			<p>Copyright &copy; 2020 Cident. All Rights Reserved | Developed by <a href="#">BuildForSDG Team 094</a></p>
		 		</div>
		 		<div class="top-to-page">
						<a href="#top" class="scroll"> </a>
						<div class="clear"> </div>
					</div>
		 	</div>
		 	</div>
		 </div>
		 <!---End-contnet---->
		</div>
		<!---End-wrap----->
        {% endblock %}
