{% extends 'app.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}


<title>Report | CIDENT - Africa's No 1 accident reporting website</title>
  </head>
  <body>
<!---strat-header----->
<div class="header"  id="top">
    <div class="wrap">
        <!---start-logo---->
        <div class="logo">
            <!-- <a href="index.html"><img src="images/logo11.png" title="logo" /><h1>CIDENT</h1></a> -->
            <a href="index.html"><h1> <b style="font-size: 50px; color: #fff;">CI</b><b style="font-size: 50px; color: #FFCA02;">DENT</b></h1></a>
        </div>
        <!---End-logo---->
        <!---start-top-nav---->
        <div class="top-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="whatwe.html">What we do</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
                <div class="clear"> </div>
            </ul>
        </div>
        <div class="clear"> </div>
        <!---End-top-nav---->
    </div>
</div>
<!---End-header----->
<!---start-contnet---->
<div class="content">
 <!---start-contact----->
<!---728x90--->
<!-- <div class="content">
    <div class="wrap contact-form">
        <h3>if the accident you intend to report is sever and require urgent attention, please use the emergency button below. thanks!</h3>
        
    </div>
</div> -->
 <div class="contact">
     <div class="wrap">
    <div class="section group">				
    <div class="col span_1_of_3">
        <div class="contact_info">
             <h3>Confirm your Location!</h3>
                 <div class="map">
                       <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
                   </div>
          </div>
          
      <div class="company_address">
             <h3>Is this your Information? :</h3>
                    <p>500 Lorem Ipsum Dolor Sit,</p>
                       <p>22-56-2-9 Sit Amet, Lorem,</p>
                       <p>USA</p>
               <p>Phone:(00) 222 666 444</p>
               <p>Fax: (000) 000 00 00 0</p>
              <p>Email: <span><a href="mailto:info@example.com">mail@example.com</a></span></p>
               <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
       </div>
       <div>
                       <span><input type="submit" value="Yes"></span>
                       <span><input type="submit" value="No"></span>
              </div>
    </div>				
    <div class="col span_2_of_3">
      <div class="contact-form">
          <h3>Report an Accident</h3>
          
            <form method="post" action="https://p.w3layouts.com/demos/city_taxi/web/contact.html?">
                <div>
                    <span><label>NAME OF INJURED PERSON</label></span>
                    <span><input name="userName" type="text" class="textbox"></span>
                </div>
                <div>
                    <span><label>DATE OF BIRTHDAY OR APRROX AGE OF INJURED PERSON</label></span>
                    <span><input name="userEmail" type="text" class="textbox"></span>
                </div>
                <div>
                     <span><label>TELEPHONE NUMBER OR INJURED PERSON</label></span>
                    <span><input name="userPhone" type="text" class="textbox"></span>
                </div>
                <div>
                    <span><label>ADDRESS OF INJURED PERSON</label></span>
                    <span><textarea name="userMsg"> </textarea></span>
                </div>
                <div>
                     <span><label>CITY</label></span>
                    <span><input name="userPhone" type="text" class="textbox"></span>
                </div>
                <div>
                     <span><label>STATE</label></span>
                    <span><input name="userPhone" type="text" class="textbox"></span>
                </div>
                <div>
                     <span><label>GENDER</label></span>
                    <span><input name="userPhone" type="text" class="textbox"></span>
                </div>
               
            </form>

            
            <form method="post" action="https://p.w3layouts.com/demos/city_taxi/web/contact.html?">
                <div>
                    <span><label>DATE AND TIME OF THE ACCIDENT</label></span>
                    <span><input name="userName" type="text" class="textbox"></span>
                </div>
                <div>
                    <span><label>EXACT LOCATION OF ACCIDENT</label></span>
                    <span><input name="userEmail" type="text" class="textbox"></span>
                </div>
                <div>
                    <span><label>WHAT PART OF THE BODY WAS INJURED (DESCRIBE IN DETAILS)</label></span>
                    <span><textarea name="userMsg"> </textarea></span>
                </div>
                <div>
                     <span><label>TAKE A PHOTO OF THE PART THAT WAS INJURED</label></span>
                    <span><input name="userPhone" type="file" class="textbox"></span>
                </div>
                <div>
                    <span><label>WHAT WAS THE NATURE OF THE INJURY? DESCRIBE IN DETAIL</label></span>
                    <span><textarea name="userMsg"> </textarea></span>
                </div>
                <div>
                     <span><label>TAKE A PHOTO OF THE SURROUNDING OF THE INJURED PERSON</label></span>
                    <span><input name="userPhone" type="file" class="textbox"></span>
                </div>
                <div>
                    <span><label>WHAT CAUSED THE ACCIDENT?</label></span>
                    <span><textarea name="userMsg"> </textarea></span>
                </div>
                <div>
                    <span><label>ANY SUPPORTING EVIDENCE OF CONTRIBUTING FACTORS</label></span>
                    <span><textarea name="userMsg"> </textarea></span>
                </div>
                <div>
                    <span><label>RECOMMENDED PREVENTIVE ACTIONS TO TAKE IN THE FUTURE TO PREVENT REOCCURANCE</label></span>
                    <span><textarea name="userMsg"> </textarea></span>
                </div>
               
            </form>

            
            <form method="post" action="https://p.w3layouts.com/demos/city_taxi/web/contact.html?">
                <div>
                    <span><label>WERE THERE ANY WITNESSES</label></span>
                    <span><input name="userName" type="text" class="textbox"></span>
                </div>
                <div>
                    <span><label>ENTER WITNESS NAME</label></span>
                    <span><input name="userEmail" type="text" class="textbox"></span>
                </div>
                <div>
                    <span><label>WITNESS STATEMENT</label></span>
                    <span><textarea name="userMsg"> </textarea></span>
                </div>
            </form>

            
            <form method="post" action="https://p.w3layouts.com/demos/city_taxi/web/contact.html?">
                <div>
                    <span><label>WHICH EMERGENCY SERVICE WAS CONTACTED</label></span>
                    <span><input name="userName" type="text" class="textbox"></span>
                </div>
                <div>
                    <span><label>WAS THE POLICE CALLED TO THE SCENE?</label></span>
                    <span><input name="userEmail" type="text" class="textbox"></span>
                </div>
                <div>
                       <span><input type="submit" value="Submit"></span>
              </div>
            </form>
        </div>
      </div>				
  </div>
</div>
</div>
<!---728x90--->

 <!---End-contact----->
 <div class="bottom-grids">
     <div class="wrap">
     <div class="social-links">
         <ul>
             <li><a href="#">Facebook</a></li>
             <li><a href="#">Twitter</a></li>
             <li><a href="#">Instagram</a></li>
             <li><a href="#">Linkedin</a></li>
         </ul>
     </div>
     <div class="mobile-no">
          <span>+234 803 0000 000</span>
     </div>
     <div class="footer-logo">
         <a href="#"><b style="color: #000;">CI</b><b>DENT</b></a>
     </div>
     <div class="copy-right">
         <p>Copyright &copy; 2020 Cident. All Rights Reserved | Developed by <a href="#">BuildForSDG Team 094</a></p>
     </div>
     <div class="top-to-page">
            <a href="#top" class="scroll"> </a>
            <div class="clear"> </div>
        </div>
 </div>
 </div>
</div>
<!---End-contnet---->
</div>
<!---End-wrap----->

{% endblock %}