<!-- services.html -->

{% extends 'app.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

<title>Services | CIDENT - Africa's No 1 accident reporting website</title>
  </head>
  <body>
<!---strat-wrap----->
		
			<!---strat-header----->
			<div class="header"  id="top">
				<div class="wrap">
					<!---start-logo---->
					<div class="logo">
						<!-- <a href="index.html"><img src="images/logo11.png" title="logo" /><h1>CIDENT</h1></a> -->
						<a href="index.html"><h1> <b style="font-size: 50px; color: #fff;">CI</b><b style="font-size: 50px; color: #FFCA02;">DENT</b></h1></a>
					</div>
					<!---End-logo---->
					<!---start-top-nav---->
					<div class="top-nav">
						<ul>
							<li><a href="index">Home</a></li>
							<li><a href="about">About</a></li>
							<li><a href="whatwe">What we do</a></li>
							<li class="active"><a href="services">Services</a></li>
							<li><a href="contact">Contact</a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="clear"> </div>
					<!---End-top-nav---->
				</div>
			</div>
			<!---End-header----->
		 <!---start-contnet---->
		 <div class="content">
		 	<!---strart-services----->
			<!---728x90--->

		 	<div class="services">
		 		<div class="wrap">
  				<h4>Our services</h4>
  					<div class="section group">
						<div class="col images_1_of_5">
							 <img src="{% static 'images/tyre.png' %}">
							 <h2>Tire Sales</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">Read More</a></span></div>
					   </div>
						<div class="col images_1_of_5">
							 <img src="{% static 'images/repair.png' %}">
							 <h2>Repair</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">Read More</a></span></div>
					    </div>
						<div class="col images_1_of_5">
							 <img src="{% static 'images/complete.png' %}">
							 <h2>Battery problems</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">Read More</a></span></div>
						</div>
						<div class="col images_1_of_5">
							 <img src="{% static 'images/spares.png' %}">
							 <h2>Spare parts</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">Read More</a></span></div>
						</div>
						<div class="col images_1_of_5">
							 <img src="{% static 'images/sales.png' %}">
							 <h2>Sales &amp; Services</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">Read More</a></span></div>
						</div>
					</div>
					<!---728x90--->

					<div class="section group">
						<div class="col images_1_of_5">
							 <img src="{% static 'images/ele.png' %}">
							 <h2>Electrical Systems</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">Read More</a></span></div>
					   </div>
						<div class="col images_1_of_5">
							 <img src="{% static 'images/dig.png' %}">
							 <h2>Engine Diagnostics</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">Read More</a></span></div>
					    </div>
						<div class="col images_1_of_5">
							 <img src="{% static 'images/flued.png' %}">
							 <h2>Fluid Exchange Services</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">Read More</a></span></div>
						</div>
						<div class="col images_1_of_5">
							 <img src="{% static 'images/col.png' %}">
							 <h2>Coolant Systems</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">Read More</a></span></div>
						</div>
						<div class="col images_1_of_5">
							 <img src="{% static 'images/air.png' %}">
							 <h2>Air Conditioning</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">Read More</a></span></div>
						</div>
					</div>
					<!---728x90--->

			</div>
			</div>
		 	<!---End-services----->
		 	<!---End-about-us----->
		 	<div class="bottom-grids">
		 		<div class="wrap">
		 		<div class="social-links">
		 			<ul>
		 				<li><a href="#">Facebook</a></li>
		 				<li><a href="#">Twitter</a></li>
		 				<li><a href="#">Instagram</a></li>
		 				<li><a href="#">Linkedin</a></li>
		 			</ul>
		 		</div>
		 		<div class="mobile-no">
		 			 <span>+234 803 0000 000</span>
		 		</div>
		 		<div class="footer-logo">
		 			<a href="#"><b style="color: #000;">CI</b><b>DENT</b></a>
		 		</div>
		 		<div class="copy-right">
		 			<p>Copyright &copy; 2020 Cident. All Rights Reserved | Developed by <a href="#">BuildForSDG Team 094</a></p>
		 		</div>
		 		<div class="top-to-page">
						<a href="#top" class="scroll"> </a>
						<div class="clear"> </div>
					</div>
		 	</div>
		 	</div>
		 </div>
		 <!---End-contnet---->
		</div>
		<!---End-wrap----->
        
    
        {% endblock %}